<h1>Edit a book in your collection!</h1>

<form method="POST" action="/books/<%= @book.id %>">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <label>Title:</label>
  <input type="text" name="title" value="<%= @book.title %>">
  <br>
  <label>Author:</label>
  <input type="text" name="author" value="<%= @book.author %>">
  <br>
  <label>Publisher:</label>
  <input type="text" name="publisher" value="<%= @book.publisher %>">
  <br>
  <label>Genre:</label>
  <input type="text" name="genre" value="<%= @book.genre %>">
  <br>
  <input type="submit">

</form>